body {
  font-family     : Poppins;
  background-image: url('/Assets/imgs/Pattern.svg');


}



a {
  color: #ffffff;
}




/* NavBar */
#BurgerMenu {
  color: antiquewhite;
}

.nav-link{
  color: #ffffff;
  
}


#NavTop {
  background-color: #6E6E6E;
  color           : black;
  border-radius   : 5px;
  height          : 55px;
  z-index: 2;
  
}
#NavMid {
  background-color: #6E6E6E;
  color           : black;
  border-radius   : 5px;
  height          : 55px; 
z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 97%;
}

.sticky + .content {
  padding-top: 102px;
}


.content {
  padding: 16px;
}

#SearchBox {
  height       : 35px;
  border-radius: 6px;
}

/* Header  */
.Header {
  background-color: #ffffff;
  height          : 150px;
  width           : 100%;
}



.flag {
  width: 120px;
  height: 150px;
  float: left;
}

.YearOf{
  justify-content: center;
  display: flex;
  padding-top: 29px;

}

.Logo{
  height: 80px;
    width: 80px;
    margin-bottom: -54px;
    box-shadow: 0px -1px 11px 0px #000000;

}


/*Mid section*/

.MidSectipn {
  border-radius   : 9px;
  background-color: #FFCC00;
  height          : 730px;
  box-shadow      : 10px 10px 10px #00000042 inset;
  margin-top      : 10px;

}

.NotifPanel {
  border-radius   : 9px;
  background-color: #EBEBEB;
  height          : 530px;
  box-shadow      : 10px 10px 10px #b1b1b1 inset;
  margin-top      : 10px;
}

.SliderIthems{
  border-radius   : 9px;
  background-color: #EBEBEB;
  height          : 130px;
  box-shadow      : 10px 10px 10px #b1b1b1 inset;
  margin-top      : 10px;
}

.FooterBg{
  border-radius   : 9px;
  background-color: #FFC700;
  box-shadow      : 4px 2px 20px 7px #00000057 inset;
  margin-top      : 10px;

}
.FooterCArd{
  background-color: #ffffff;
  height: 250px;
  border-radius: 7px;
  margin: 24px 16px 63px 0px;

}

.CopyRight{
  font-family: ui-sans-serif;
    text-align: center;
    margin-top: -19px;
    color: aliceblue;
    font: small-caption;
    font-weight: 900;
}


.SliderStyle{
  height: 666px;
  margin: 10px;
}

.Slidecard{
  background-color: #ffffff;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  margin: 10px;
}

.BtnList{
  background-color: #ffffff;
  height: 91px;
  WIDTH: 235px;
  border-radius: 5px;
  margin: 22px 15px 12px -1px;
  box-shadow: 0px 0px 6px 7px #00000017;
 }

/*Item Scroler*/
.flex-container {
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
align-items: center;
padding: 0px 0px 0px 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.flex-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.flex-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

