

body {
  background-color: #e0e0e0;
  font-family: Poppins;
}

a {
  color: #ffffff;
}


/* NavBar */
#NavTop {
  background-color: #6E6E6E;
  color: black;
  border-radius: 5px;
  box-shadow: 4px 7px 6px #C9C9C9;
  height: 55px;
}

#SearchBox{
  height: 35px;
  border-radius: 6px;
}
